@tailwind base;
@tailwind components;
@tailwind utilities;

.no-copy-no-select {
  user-select: none; /* Disable text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-touch-callout: none; /* Disable callout menu on iOS */
}
/* CSS */
.ant-picker-now-btn {
  content: ": เลือกเวลาปัจจุบัน";
}

.ant-picker-now-btn::after {
  content: ": เลือกเวลาปัจจุบัน";
  display: inline-block;
}
